<div class="contaionLegalNotice">
    <h1 class="text-center">Legal Notice
        <img class="arrow-left" src="assets/img/arrow-left-line.png" onclick="closeSide()">
    </h1>
    <div class="legalNoticeFrame">
        <h2>Entries referred to 5 TMG</h2>
        <h2>Contact</h2>
        <p>
            Daniel Rubin, Dennis Ertel, Mato Veselcic<br />
            Musterstraße 111<br />
            Gebäude 44<br />
            90210 Musterstadt
        </p>
        <p>Telefon: +49 (0) 123 44 55 66<br />
            Telefax: +49 (0) 123 44 55 99<br />
            E-Mail: dge99@t-online.de</p>

        <p>Source: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
</div>