.main-container {
    width: 88%;
    height: 88%;
}

.popup {
    position: fixed;
    inset: 0%;
    z-index: 3;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.padding-popup-box {
    display: flex;
    width: 100%;
    height: 92%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
}



.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.first-container-popup {
    width: 100%;
}

.inputfield-and-button {
    display: flex;
    align-items: center;
    width: 40%;
    height: 70%;
    margin-right: 1%;
}

.inputfield-container {
    position: relative;
    height: 100%;
    width: 60%;
}

.inputfield {
    box-sizing: border-box;
    padding: 0.5rem 0 0.5rem 0.25rem;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-size: 1.5rem;
    outline: none;
}

.inputfield::placeholder {
    color: #D1D1D1;
}

.line-container {
    position: absolute;
    top: 28%;
    right: 20%;
}

.line {
    width: 0px;
    height: 4rem;
    border: 1px solid #D1D1D1;
}

.search-container {
    position: absolute;
    top: 32%;
    right: 6%;
}

.subtasksContainer {
    position: relative;
}

.btn-board {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    width: 40%;
    height: 60px;
    background: #2A3647;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 5%;
    outline: none;
    border: none;
}

.btn-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-board:hover {
    background: #0D99FF;
}

.icon-plus {
    height: 41%;
}

.second-container-popup {
    width: 100%;
}

.second-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 94%;
    justify-content: space-between;
}

.container-tasks {
    width: 24%;
    overflow-y: hidden;
}

.child-container-tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 5%;
}


#todo,
#done,
#inProgress,
#awaitingFeedback {
    overflow-y: scroll;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.text-board {
    font-weight: 700;
    font-size: 5rem;
    line-height: 120%;
}

.drag-area-highlight {
    height: 190px;
    border: dashed;
    border-radius: 30px;
    width: 240px;
    cursor: pointer;
    margin-top: 10px;
}

.title-area {
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}

.plus-button {
    cursor: pointer;
    height: 100%;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding: 1rem;
    gap: 10px;
    width: 70%;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;


}

.category {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    font-weight: 400;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

.title {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    word-break: break-all;
    margin-bottom: 0.5rem;
    overflow-y: hidden;
}

.description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #A8A8A8;
    word-break: break-all;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    overflow-y: hidden;
}

.assigned {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    font-weight: 400;
    font-size: 0.8rem;
    color: #FFFFFF;
}

.assigned-and-prio {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.assigned-sort-name {
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    width: 80%;
}

.prio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.first-arrow {
    position: absolute;
}

.second-arrow {
    position: absolute;
    top: 5px;
}

/*
* CSS for pop-up window
*/
.add-task-pop-up {
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    cursor: pointer;
    display: none;
    inset: 11%;
    z-index: 3;
    animation: add-task-pop-up-slide 225ms ease-in-out;
    height: 80%;
    width: 80%;
}

@keyframes add-task-pop-up-slide {
    0% {
        left: 100%;
    }

    100% {
        left: 11%;
    }
}


.cross-popup {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    margin-top: 3%;
    cursor: pointer;
}

.container-for-seperate-left-and-right-content {
    display: flex;
    justify-content: flex-start;
}

.container-for-seperate-left-and-right-content-popup {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 90%;
}

.pop-up-child {
    font-weight: 400;
    font-size: 21px;
}

.title-popup::placeholder {
    color: #D1D1D1;
}


.assignedToValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
}

.seperate-line-popup {
    width: 0px;
    height: 95%;
    border: 1px solid #D1D1D1;
    margin-left: 6%;
    margin-right: 6%;
    box-sizing: border-box;
}

.change-color-img {
    filter: brightness(0) invert(1);
}

.first-btn:hover {
    background-color: #0D99FF;
    border: 2px solid #0D99FF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#btn-first:hover .cross-popup-btn {
    filter: invert(39%) sepia(66%) saturate(1450%) hue-rotate(184deg) brightness(107%) contrast(102%);
}

.second-btn:hover {
    background-color: #0D99FF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-color: #0D99FF
}

.addTaskSubTasksInput {
    box-sizing: border-box;
    outline: none;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    width: 422px;
    height: 51px;

    background: #FFFFFF;
    /* Style */

    border: 1px solid #D1D1D1;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.addTaskSubTasksInput::placeholder {
    width: 178px;
    height: 25px;
    text-align: center;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.subTasksCrossPopup {
    position: absolute;
    right: 3%;
    top: 25%;
    height: 50%;
    cursor: pointer;
}

.subTaskSubFrame {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    z-index: 5;
}

.openTask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.openTaskMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    gap: 1.5rem;
    position: fixed;
    left: 30%;
    top: 7.5%;
    width: 40%;
    height: 75%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 30px;
    z-index: 25;
    overflow-y: scroll;
    overflow-x: hidden;
}

.openTaskCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    font-size: 1.7rem;
    color: #FFFFFF;
}

.openTaskTitle {
    align-items: flex-start;
    font-weight: 700;
    font-size: 4rem;
    color: #2A3647;
    margin: 0;
}

.openTaskDescription {
    font-size: 1.5rem;
    line-height: 120%;
    color: #000000;
    margin: 0;
}

.openTaskDueDateFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 7%;
    gap: 5%;
}

.openTaskDueDate {
    font-weight: 700;
    font-size: 1.3rem;
}

.openTaskDueDateValue {
    font-size: 1.3rem;
    color: #000000;
}

.openTaskPrioFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    height: 5%;
}

.openTaskPrio {
    font-weight: 700;
    font-size: 1.3rem;
}

.openTaskPrioValue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 0.6rem;
    min-width: 60%;
    height: 90%;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.openTaskPrioText {
    font-size: 1.3rem;
    color: #FFFFFF;
}

.openTaskPrioArrowFrame {
    width: 1rem;
    height: 2rem;
    transform: rotate(-180deg);
    position: relative;
}

.openTaskFirst-arrow {
    position: absolute;
    top: 25%;
}

.openTaskSecond-arrow {
    position: absolute;
    top: 0%;
}

.openTaskAssignedTo {
    font-weight: 700;
    font-size: 1.3rem;
    color: #000000;
}

.openTaskSubtasks {
    width: 134px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 8;
    flex-grow: 0;
    z-index: 5;
}

.openTaskCloseImg {
    position: absolute;
    width: 6%;
    right: 6%;
    top: 4%;
}

.openTaskAssignedToFrame {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    height: 25%;
}

.openTaskSubtasksContainer {
    order: 9;
}

.openTaskAssignedToInitials {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: #9327FF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    font-size: 1rem;
    color: #FFFFFF;
    width: 2.5rem;
    height: 2.5rem;
}

.openTaskAssignedToName {
    font-size: 1.3rem;
    color: #000000;
}

#openTaskAssignedToContainer {
    max-height: 25%;
}

.openTaskChangeImg {
    padding: 0.5rem 0.8rem;
    position: fixed;
    height: 3%;
    right: 27%;
    bottom: 12%;
    border-radius: 10px;
    background-color: #2A3647;
}

#changeTaskTitle,
#changeTaskDescription,
#changeTaskAssingedToSelect,
#changeTaskSubtasks {
    margin-bottom: 1rem;
}

#changeTaskSubtasks .changeTaskP {
    margin: 0.5rem;
    font-size: 1.5rem;
}

#changeTaskDate {
    margin-bottom: 16px;
}

#mediumFirstOpenTask #mediumSecondOpenTask {
    position: absolute;
    top: -26px;
    right: -14px;
}

#lowFirstOpenTask #lowSecondOpenTask {
    position: absolute;
    top: -30px;
}

.openTaskChangeImg:hover {
    cursor: pointer;
    background-color: #0190E0;
}

.openTaskCloseImg:hover {
    cursor: pointer;
}

.positionMediumChangeTaskFirst {
    position: absolute;
    left: 2px;
    bottom: -4px;
}

.positionMediumChangeTaskSecond {
    position: absolute;
    left: 2px;
    bottom: -10px;
}

.positionLowChangeTaskFirst {
    position: absolute;
    left: 2px;
    bottom: -5px;
}

.positionLowChangeTaskSecond {
    position: absolute;
    left: 2px;
    bottom: -12px;
}

.prioChangeTask {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
}

.addChanges {
    position: fixed;
    right: 27%;
    bottom: 11%;
    color: white;
    background-color: #2A3647;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    width: 2%;
}

.addChanges:hover {
    background-color: #0D99FF;
    cursor: pointer;

}

/*
* CSS class for category in popup
*/
.sales {
    background-color: #FC71FF;
}

.design {
    background-color: #FF7A00;
}

.backoffice {
    background-color: #1FD7C1;
}

.marketing {
    background-color: #0038FF;
}

.it {
    background-color: #4E963D;
}

.media {
    background-color: #FFC701;
}

.bg-red {
    background-color: red !important;
}

.bg-orange {
    background-color: #FFA800 !important;
}

.bg-green {
    background-color: #7AE229 !important;
}

.color-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.z-1 {
    z-index: -1;
}

.z10 {
    z-index: 10;
}

.gap-0 {
    gap: 0;
}

.margin-bottom {
    margin-bottom: 4rem;
}

.min-h-6 {
    min-height: 6%;
}


@media (max-width: 800px) {
    .main-container {
        height: 80vh;
        width: 95%;
    }


    .second-container {
        flex-direction: column;
        height: 80%;
        overflow-y: scroll;
        margin-top: 1rem;
    }

    .container-tasks {
        width: 100%;

        margin-bottom: 10%;
        overflow: unset;
    }

    .line-container {
        position: absolute;
        top: 20%;
        right: 30%;
    }

    .box {
        width: 22.5vw;
        height: 83%;
        margin-left: 1rem;
        margin-right: 1rem;
        min-height: unset;
    }

    .title,
    .description {
        height: 30%;
    }

    #todo,
    #done,
    #inProgress,
    #awaitingFeedback {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        row-gap: 1rem;
        column-gap: 1rem;
        flex-wrap: wrap;
        overflow-x: hidden;
        grid-template-rows: repeat(auto-fit, minmax(12rem, 1fr));

        overflow-y: scroll;



    }

    .child-container-tasks {
        margin-bottom: 2%;
        height: 10%;
    }

    .add-task-pop-up {
        inset: 0;
        top: 11%;
        height: 77%;
        width: 100%;
    }

    .container-for-seperate-left-and-right-content-popup {
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 85%;
    }

    .subTasksCrossPopup {
        width: 5%;
    }

    .openTaskMain {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3%;
        gap: 1.5rem;
        position: fixed;
        top: 10%;
        left: 0%;
        width: 94%;
        height: 75%;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 0;
        z-index: 10;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .openTaskChangeImg {
        padding: 0.4rem 0.8rem;
        position: fixed;
        height: 5%;
        right: 7%;
        bottom: 14%;
        border-radius: 10px;
        background-color: #2A3647;
    }

    .addChanges {
        position: fixed;
        right: 9%;
        bottom: 12%;
        color: white;
        background-color: #2A3647;
        border-radius: 10px;
        border: none;
        padding: 0.5rem;
        width: 5%;
    }
}

@media (max-width: 680px) {

    .btn-popup,
    .btn,
    .inputfield {
        font-size: 1rem;
    }

    .inputfield-and-button {
        width: auto;

    }
}

@media (max-width: 500px) {}

@media (max-width: 450px) {
    .h1-board {
        display: none
    }

    .inputfield-and-button {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .box {
        min-height: 12rem;
    }
}