/* contacts */

.cancel-edit-mobil-btn {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 136px;
  height: 51px;
  border: 1px solid #2A3647;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.contain-trash-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.trash-icon {
  height: 1.5em;
  width: 1.8rem;
  margin: 0px;
  display: flex;

}

.contact_name h3 {
  font-size: 1.2rem;
}

.contact_name_container span {
  width: 26px;
  height: 26px;
}

.cancel-edit-mobil-btn:hover {
  background-color: #29ABE2;
}

.contacts_container {
  position: relative;
  width: 100%;
  background: #F6F7F8;
  height: 100%;
}

.contacts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;

}

.close-white {
  display: none;
}

.contact_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 4rem;
  margin-left: 1rem;
}

.contact_name p {
  margin: 0px;
}

.contact_name h2 {
  margin: 0px;
}

.contact_name_container {

  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.contact_name_container span {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
  color: black !important;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contacts-email {
  height: 100%;
}

.contact_name_container p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  height: 100%;
  width: 90%;
}

.full_listner {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.full_listner img {
  width: 30px;
  height: 30px;
  margin-left: 16px;
  cursor: pointer;
}

.full_listnert p {
  font-size: 45px;
  margin-bottom: 0px;
}

.listning {
  height: 100%;
  width: 40%;
  background-color: white;
  overflow-y: scroll;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.listning::-webkit-scrollbar {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.listning::-webkit-scrollbar-thumb {
  border-radius: 2rem !important;
}

.right_side_contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: context-menu;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 10%;
}

.right_side_contacts_text {
  display: flex;
}



.right_side_contacts h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #000000;

}

.right_side_contacts h4 {
  font-size: 2rem;

}

.new_contact_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0.5rem;
  right: 10%;
  bottom: 5%;
  background: #2A3647;
  border: 1px solid #2A3647;
  border-radius: 10px;
}

.new_contact_button p {
  width: 130px;
  height: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0px;
}

.contact_info_add_task_name {
  height: 75%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  gap: 1rem;
}

.full_contact_info h2 {
  min-width: 6rem;
  width: 6rem;
  height: 6rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #ff7a00;
  border-radius: 50%;
  cursor: context-menu;

}

.contact_info_add_task_name_add_task {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
  color: #29abe2;
  height: 25%;

}

.contact_information_header {
  display: flex;
  align-items: center;
  cursor: context-menu;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.contain_contact_information_trash_icon {
  width: 100%;
  height: 14rem;
  display: flex;
  justify-content: space-between;
}

.contacts-information {
  font-size: 1.2rem;
}

.edit_contact {
  display: flex;
  align-items: center;

  margin-left: 1.5rem;

}




.edit_contact p {
  cursor: context-menu !important;
  margin: 0 0 0 8px;
}

.contact_information {
  cursor: context-menu;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact_information a {
  color: #29abe2;
  text-decoration: none;
}

.contact_information a:hover {
  text-decoration: underline;
}




.right_side {
  position: relative;
  width: 60%;
  height: 100%;
  margin-left: 1rem;
}




.contact_info_add_task {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-around;
  height: 100%;
}

.full_contact_Info_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: full_contact_Info_Container_slide_in 2s;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}


@keyframes full_contact_Info_Container_slide_in {


  50% {
    left: 100vw;
  }

  100% {
    left: 0px;
  }
}




.full_contact_info {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.popup_window {

  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}


@media(max-width: 800px) {
  /* h1 {
        width: 4rem;
        margin: 0;
    } */

  .right_side_contacts_h4 {
    width: 1rem;
    text-align: center;
  }

  .right_side_contacts h1 {
    width: 170px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700px;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
    margin: 0px;
  }
}

@media(max-width: 1100px) {
  .img-separation {
    display: none;
  }

  .contacts-email {
    display: none;
  }

  .right_side_contacts {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .right_side_contacts h4 {
    margin: 0;
  }
}





.searchfield {
  position: absolute;
  z-index: 15;
  top: 400px;
  left: 400px;
  width: 30%;
  height: 50px;
  background-color: orange;
  margin-left: 35%;
}

.popupslideout {
  transform: translateX(100vw) !important;
}

.popup_window_slideout {
  animation: slideout 0.3s;
}

@keyframes slideout {
  0% {
    transform: translateX(0vw);
  }

  75% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

.popup_window_slidein {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slidein 0.3s;
  animation-fill-mode: forwards;

  height: 100vh;
  width: 100vw;
  z-index: 50;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.popup_window {
  display: flex;
  width: 80vw;
  height: calc(80vw / 2);
  background: #FFFFFF;
  border-radius: 30px;
}

.popup_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 60%;
  height: 100%;

}

.popup_left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  border-radius: 30px 0px 0px 30px;
  width: 40%;
  height: 100%;
  background: #2A3647;
}

.popup_left_img {
  margin-bottom: 1rem;
}



.popup_left h1 {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  color: #FFFFFF;
}

.underline_img {
  width: 25%;
  border-bottom: 2px solid #29ABE2;
}

.popup_left p {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: #FFFFFF;


}

.popup_right_profile {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #d1d1dd;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% / 2 - 7.5rem / 2);
  left: calc(100% / 2 - 7.5rem / 2);
  ;
}

.close_contact_popup {
  cursor: pointer;
  margin-right: 3rem;
  margin-bottom: 3rem;
}



.close_contact_popup img {
  width: 40px;
}

.contain-button-create-contacts {
  width: 100%;

}

.popup_right_buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 3rem;
}

.cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 8.5rem;
  height: 100%;
  border: 1px solid #2A3647;
  border-radius: 10px;
  cursor: pointer;
}

.cancel:hover,
.create_contact:hover {
  background-color: #29ABE2;
  border: none;
}

.cancel p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: #2A3647;
}

.create_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 13rem;
  background: #2A3647;
  border-radius: 10px;
  cursor: pointer;
}

.create_contact p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 120%;
  color: #FFFFFF;
}

.fill_in_fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 3rem;
  gap: 2rem;

}

.first_name,
.last_name,
.email_field,
.phone_field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px 0px 12px;
  gap: 10px;
  width: 26rem;
  height: 4rem;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
}

.first_name input,
.last_name input,
.email_field input,
.phone_field input {
  width: 350px;
  border: none;
  outline: none;
}


.addTaskMobileHeadline {
  display: none;
}

.Notification {
  position: fixed;
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
  background-color: #2A3647;
  border-radius: 35px;
  color: white;
  width: 300px;
  height: 60px;
  left: calc(50% - 150px);
  animation: taskCreated 2s;
  overflow: hidden;
}

@keyframes taskCreated {
  0% {
    bottom: -90px;
  }

  30% {
    bottom: 125px;
  }

  70% {
    bottom: 125px;
  }

  100% {
    bottom: -90px;
  }
}

.crossline {
  width: 95%;
  height: 0%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-left: 5%;
}

.contactHeadline {
  margin-left: 5%;
}


@media (max-width: 1500px) {
  .popup_right_profile {
    display: none
  }

  .popup_right {
    align-items: center;
  }

  .close_contact_popup {
    display: none;
  }

}

@media (max-width: 1200px) {
  .popup_left h1 {
    font-size: 2.5rem;
  }

  .popup_left p {
    font-size: 1.2rem;
  }

  .fill_in_fields {
    margin-right: auto;
    gap: 1.5rem;
  }

  .first_name,
  .last_name,
  .email_field,
  .phone_field {
    width: 100%;
    height: 3rem;
  }

  .first_name input,
  .last_name input,
  .email_field input,
  .phone_field input {
    width: auto;
  }

  .contain-button-create-contacts {
    width: 108%;
  }
}

@media (max-width: 1000px) {

  .first_name,
  .last_name,
  .email_field,
  .phone_field {
    width: 100%;
    height: 2rem;
  }
}


@media (max-width: 800px) {
  .popup_window {
    flex-direction: column;
    height: 80vh;
    width: calc(80vh / 2);
  }

  .popup_right_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35%;
  }

  .popup_left_img {
    display: none;
  }

  .popup_left {
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 40%;
  }

  .popup_right {
    width: 100%;
    height: 60%;
    position: relative;
  }

  .cancel {
    display: none;
  }

  .form_add_contact_popup {
    width: 80%;
    justify-content: center;
    display: flex;
  }

  .popup_right_buttons {
    justify-content: center;

  }

  .close_contact_popup {
    cursor: pointer;
    position: absolute;
    top: -17rem;
    right: 2rem;
    margin: 0;
  }

  .close-black {
    display: none;
  }

  .close_contact_popup {
    display: flex;
  }

  .close-white {
    display: flex;
  }

  .contact_name_container {
    justify-content: start;
    width: 50%;
  }

  .new_contact_button {
    top: 5%;
    right: 5%;
    bottom: unset;
  }

  .listning {
    width: 100%;
    padding-top: 6rem;
    height: unset;
  }

  .contact_name_container span {
    width: 2.5rem;
    height: 2.5rem;
  }


  .full_listner {
    margin-left: 0rem;
    justify-content: center;
  }

  .right_side {
    position: absolute;
    display: none;
  }

  .summary-greet-container-mobil {
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    z-index: -10;
    color: rgba(0, 0, 0, 0);
    animation: animation-greet-container-mobil 3s;

  }

  @keyframes animation-greet-container-mobil {
    0% {
      background-color: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, 0);
      z-index: 3;
      height: 100vh;
      width: 100vw;
    }


    90% {
      background-color: rgba(255, 255, 255, 1);
      z-index: 3;
    }

    100% {
      background-color: rgba(255, 255, 255, 0);
      z-index: 0;
      height: 100vh;
      width: 100vw;
    }
  }

  .summary-greet-top-mobil {
    z-index: -10;
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
    color: rgba(41, 171, 226, 0);
    animation: animation-summary-greet-top-mobil 3s;
  }

  @keyframes animation-summary-greet-top-mobil {
    0% {
      color: rgba(41, 171, 226, 1);
      z-index: 3;
    }

    60% {
      color: rgba(41, 171, 226, 1);
      z-index: 3;
    }

    100% {
      color: rgba(41, 171, 226, 0);
      z-index: 3;
    }
  }

  .summary-greet-bottom-mobil {
    text-align: center;
    font-size: 6rem;


    font-weight: bolder;
    color: rgb(41, 171, 226);
    animation: summary-greet-bottom-mobil 5s;
  }

  @keyframes summary-greet-bottom-mobil {
    0% {
      color: rgba(41, 171, 226, 1);
    }

    50% {
      color: rgba(41, 171, 226, 1);
    }

    100% {
      color: rgba(41, 171, 226, 0);
    }
  }

  @media (max-width: 488px) {
    .popup {
      margin-left: -15px;
    }

    .popup_window {
      --width: 100vw;
    }
  }


  @media (max-width: 600px) {

    .popup_window {
      width: 100%;
      height: 100vh !important;
    }



    .fill_in_fields {
      height: 100%;
    }


    .fill_in_fields div input {
      width: 180px;
    }

    .close_contact_popup {
      top: -22rem;
    }

    .form_add_contact_popup {
      width: auto;
    }

  }

  @media (max-height: 750px) {
    .close_contact_popup {
      top: -20rem;
    }
  }

  @media (max-height: 670px) {
    .close_contact_popup {
      top: -18rem;
    }
      .close_contact_popup {
      top: -16rem;
    }

    .popup_window {
      width: 100%;
      height: 100vh !important;
    }

    .form_add_contact_popup {
      width: unset
    }

    .popup_right_profile {
      display: none
    }
  }

  @media (max-height: 520px) {
    .close_contact_popup {
      top: -14rem;
    }

    .popup_left h1 {
      font-size: 3rem;
    }
  }


  .w-100 {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }
}