/* Summary */
.summary-all-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 88%;
  height: 88%;
}

.summary-headline-container {
  display: flex;
  align-items: center;
  gap: 2%;
  width: 100%;
  height: 10.5%;
}

.summary-headline-left {
  height: 100%;
  font-weight: 700;
  font-size: 4rem;
  display: flex;
  align-items: center
}

.summary-headline-middle {
  width: 0px;
  height: 75%;
  border: 3px solid #29ABE2;
}

.summary-headline-right {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  color: #2A3647;
}



.contain-summary-greet-and-detail {
  display: flex;
  height: 77.15%;
  width: 100%;
}

.summary-greet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.summary-greet-top {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #2A3647;
}

.summary-greet-bottom {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 3.5rem;
  color: #29ABE2;
}

.summary-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 35.5rem;
  height: 35.5rem
}

.summary-tasks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 31%;
}

.summary-tasks-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 29.3%;
  background: #FFFFFF;
  box-shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  box-sizing: border-box;
}

.summary-tasks-btn:hover {
  background: #2A3647;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.summary-tasks-btn:hover .summary-tasks-amount {
  color: white;
}

.summary-tasks-btn:hover .summary-tasks-text {
  color: white;
}

.summary-tasks-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.summary-tasks-amount {
  width: 100%;
  height: 60%;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-tasks-text {
  width: 100%;
  height: 40%;
  font-weight: 400;
  font-size: 1.3125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2A3647;
}

.summary-urgency-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 3.8rem;
  width: 100%;
  height: 27.5%;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-sizing: border-box;
}

.summary-urgency-container:hover {
  background: #2A3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.summary-urgency-container:hover .summary-urgency-text {
  color: white;
}

.summary-urgency-container:hover .summary-urgency-class {
  color: white;
}

.summary-urgency-container:hover .summary-deadline-bottom {
  color: white;
}

.summary-urgency-container:hover .summary-deadline-top {
  color: white;
}

.summary-urgency-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;

}

.summary-urgency-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-urgency-class {
  width: 50px;
  height: 56px;
  font-weight: 600;
  font-size: 47px;
  text-align: center;
}

.summary-urgency-text {
  width: 52px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  color: #2A3647;
}

.summary-urgency-border {
  width: 0px;
  height: 80%;
  border: 2px solid #D1D1D1;
}

.summary-urgency-deadline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 5%;
  height: 60%;
}

.summary-deadline-top {
  font-weight: 700;
  font-size: 1.25rem;
  color: #2A3647;
}

.summary-deadline-bottom {
  font-weight: 400;
  font-size: 1rem;
  color: #2A3647;
}

.summary-to-do-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  height: 27.5%;
}

.summary-to-do-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 45%;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  box-sizing: border-box;
}

.summary-to-do-frame:hover {
  cursor: pointer;
  background: #2A3647;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summary-to-do-frame:hover .summary-to-do-amount {
  color: white;
}

.summary-to-do-frame:hover .summary-to-do-text {
  color: white;
}

.summary-pen-image:hover,
.summary-done-image:hover {
  background-color: #2A3647;
}

.summary-to-do-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-to-do-amount {
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}

.summary-to-do-text {
  font-weight: 400;
  font-size: 1.25rem;
  color: #2A3647;
}

.summary-pen-image,
.summary-done-image {
  width: 4rem;
  height: 4rem;
}

@media (max-width :1200px) {
  .summary-greet-container {
    display: none;
  }

  .contain-summary-greet-and-detail {
    justify-content: center;
  }

  .summary-all-elements {
    width: 88%;
    height: 88%;
    justify-content: space-between;

  }
}

@media (max-height: 1000px) {
  .summary-all-elements {
    width: 88%;
    height: 88%
  }
}

@media (max-height: 930px) {

  .summary-all-elements {
    width: 90%;
    height: 90%
  }
}

@media (max-height: 850px) {

  .summary-all-elements {
    width: 90%;
    height: 90%
  }



  .summary-headline-container {
    display: none;
  }

  .contain-summary-greet-and-detail {
    height: 100%;
    align-items: center;
  }
}

@media (max-height: 700px) {
  .summary-details-container {
    height: 95%;
    width: calc(100vh * 0.8);
  }

  .summary-pen-image,
  .summary-done-image,
  .arrows-up-icon {
    width: 3rem;
    height: 3rem;
  }

  .summary-tasks-amount,
  .summary-to-do-amount,
  .summary-urgency-class {
    font-size: 4rem;
  }

  .summary-tasks-text {
    font-size: 1.25rem;
  }

  .summary-urgency-container {
    gap: 1.5rem;
  }

  .summary-headline-container {
    display: none;
  }
}



@media (max-height: 600px) {

  .summary-pen-image,
  .summary-done-image,
  .arrows-up-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .summary-tasks-amount,
  .summary-to-do-amount,
  .summary-urgency-class {
    font-size: 2.5rem;
  }

  .summary-tasks-text {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .summary-all-elements {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .summary-headline-container {
    flex-direction: column;
  }

  .summary-headline-right {
    font-size: 2rem;
  }

  .summary-headline-middle {
    display: none;
  }

  .summary-pen-image,
  .summary-done-image,
  .arrows-up-icon {
    width: 3rem;
    height: 3rem;
  }

  .summary-urgency-container {
    gap: 1.5rem;
  }
}