body {
   margin: 0;
   overflow-x: hidden !important;
}

.hidden {
   display: none !important;
}

.login-logout-body {
   background: #F6F7F8;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.Log-in-Side {
   position: relative;
   width: 1440px;
   height: 98%;
   background: #F6F7F8;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.renderContain {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1024px;
}

.work-area-box-1140 {
   height: 98%;
   width: 1140px;
   border-style: dotted;
   display: flex;
   justify-content: center;
   position: relative;
}

.show-display-box-1024 {
   height: 100%;
   width: 1024px;
   border-style: dashed;
   display: flex;
   justify-content: center;
   align-items: center;
}

.frame156 {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 35px;
   width: 287px;
   height: 51px;

   position: absolute;
   right: 5%;
   top: 5vh;
}

.not-a-join-user {
   /* Not a Join user? */


   width: 161px;
   height: 25px;
   /* Version 2/t6 */
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   line-height: 120%;
   /* or 25px */
   color: #000000;
   /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
}

.button-sign-up {
   /* Button wo icon v1 */


   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 4px 16px;
   gap: 10px;

   width: 91px;
   height: 51px;

   background: #2A3647;
   border-radius: 8px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.sign-up {
   /* Button */


   width: 59px;
   height: 19px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 120%;
   /* or 19px */


   color: #FFFFFF;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.capa-2 {
   position: relative;
   width: 1440px;
   height: 20%;
   background-color: rgba(246, 247, 248, 0);
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 0;
   animation: transition-capa-2 2.5s;
}

@keyframes transition-capa-2 {
   0% {
      background-color: rgba(246, 247, 248, 1);
      z-index: 10;
      height: 100%;
   }

   75% {
      background-color: rgba(246, 247, 248, 1);
      z-index: 10;
      height: 100%;
   }

   100% {
      background-color: rgba(246, 247, 248, 0);
      z-index: 0;
      height: 20%;
   }
}

@keyframes transition-capa-1 {
   0% {
      left: 40.5%;
      top: 33.7%;
      width: 19%;
      height: 32.5%;
   }

   75% {
      left: 40.5%;
      top: 33.7%;
      width: 19%;
      height: 32.5%;
   }

   100% {
      left: 5.35%;
      top: 5vh;
      width: 6.25rem;
      height: 7.625rem;
   }
}

.capa-1 {
   position: absolute;
   left: 5.35%;
   top: 5vh;
   width: 6.25rem;
   height: 7.625rem;

   animation: transition-capa-1 2s;
}

.frame153 {
   /* Frame 153 */


   /* Auto layout */
   min-width: 652px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 35px 0px;
   gap: 35px;
   position: absolute;
   /* right: 27.36%;
   left: 27.36%; */
   top: 25.37%;
   /* bottom: 23.14%; */
   /* white */
   background-color: #FFFFFF;
   /* shadoe backlog box */

   box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
   border-radius: 30px;
}

.frame159 {
   /* Frame 159 */
   /* Auto layout */
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   height: 18.91%;
   margin: 0rem 1rem 0rem 1rem;
   /* Inside auto layout */
   position: relative;
   flex: none;
   order: 0;
   flex-grow: 0;
}

.Log-in {
   /* Log in */
   position: relative;

   width: 315px;
   height: 73px;

   /* Version 2/t1 */
   padding-bottom: 1.5rem;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 4rem;
   line-height: 120%;
   /* or 73px */

   text-align: center;

   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.Log-in:after {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   height: 1px;
   width: 50%;
   /* or 100px */
   border-bottom: 3px solid #29ABE2;
}


.Log-in-v1 {
   /* Log in v1 */


   /* Auto layout */

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0px;
   /* gap: 29px; */

   height: 33.33%;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}



.frame155 {
   /* Frame 155 */


   /* Auto layout */

   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   padding: 8px 8px 0px 8px;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.frame14 {
   /* Frame 14 */

   box-sizing: border-box;

   /* Auto layout */
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 10px;

   height: 3rem;

   background: #FFFFFF;
   /* Style */

   border: 1px solid #D1D1D1;
   border-radius: 10px;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.frame157 {
   /* Frame 157 */


   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 0px;
   gap: 10px;

   width: 380px;
   height: 1.6rem;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.width-auto {
   width: auto;
}

.width-100 {
   width: 100%;
}


.Email {
   /* Email */
   width: 90%;
   height: 2rem;

   /* Version 2/t6 */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 120%;
   /* or 25px */


   /* Style */

   /* color: #D1D1D1; */
   border: 0px;



   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.password {
   /* Email */
   width: 100%;
   height: 2rem;

   /* Version 2/t6 */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 120%;
   /* or 25px */


   /* Style */

   color: #D1D1D1;
   border: 0px;



   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}


.vector {
   /* Vector */


   width: 20px;
   height: 18px;

   /* icon */

   background: #A8A8A8;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.frame158 {

   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   padding-top: 0.5rem;
   padding-bottom: 1rem;
   gap: 35px;
   width: 90%;
   height: 1.2rem;


   /* Inside auto layout */

   flex: none;
   order: 2;
   flex-grow: 0;
}

.frame37 {

   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   padding: 0px;
   gap: 20px;

   width: 100%;
   height: 1.2rem;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.rectangle6 {
   /* Rectangle 6 */
   display: flex;
   align-items: baseline;

   position: relative;

   height: 1.8rem;

   border-radius: 3px;
   font-size: 1rem;
   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.rectangle5 {
   /* Rectangle 5 */

   /* Boton gradient */

   background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
   border: 1px solid #000000;
   border-radius: 3px;
}

.remeber-me {
   /* Remember me */



   height: 1.2rem;

   /* Version 2/body */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 1rem;
   line-height: 120%;
   /* or 19px */


   color: #000000;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;


}

.pointer {
   cursor: pointer;
}

.forgotMyPassword {
   /* Forgot my password */


   width: 154px;
   height: 19px;

   /* Version 2/body */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   /* or 19px */
   text-decoration: none;

   /* Ligth blue */

   color: #29ABE2;


   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.frame176 {
   /* Frame 176 */


   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0px;
   gap: 35px;

   width: 90%;
   height: 4rem;


   /* Inside auto layout */

   flex: none;
   order: 3;
   flex-grow: 0;
}

.btn-log-in {
   /* Button wo icon v1 */


   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 4px 14.2% 4px 14.2%;
   gap: 10px;

   height: 3.2rem;

   background: #2A3647;
   border-radius: 8px;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.text-log-in {
   /* Button */
   display: flex;
   align-items: center;
   text-align: center;


   height: 1.6rem;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 1.3rem;
   line-height: 120%;
   /* or 25px */


   color: #FFFFFF;


   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.btn-guest-log-in {
   /* Button seconday wo icon v1 */

   background-color: #FFFFFF;
   box-sizing: border-box;

   /* Auto layout */

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 4px 16px;
   gap: 10px;

   width: 10rem;
   height: 3.2rem;

   /* Version 2/ main color */

   border: 1px solid #2A3647;
   border-radius: 8px;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
}

.text-guest-log-in {
   /* Button */
   display: flex;
   align-items: center;


   height: 1.6rem;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 1.3rem;
   line-height: 120%;
   /* or 25px */


   /* Version 2/ main color */
   color: #2A3647;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
}

.iForgotMyPassword {
   /* Version 2/t1 */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 4rem;
   line-height: 120%;
   /* or 73px */
   height: 6rem;
   margin-top: 1rem;
   text-align: center;
   margin-left: 3rem;
   margin-right: 3rem;

   color: #000000;

}

.iForgotMyPassword:after {
   content: "";
   position: absolute;
   top: 7rem;
   left: calc(50% - 150px/2);
   bottom: 0;
   height: 1px;
   width: 150px;
   /* or 100px */
   border-bottom: 3px solid #29ABE2;
}

.dontWorry {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 1.3rem;
   line-height: 120%;
   /* or 25px */
   margin-left: 10.29%;
   margin-right: 10.29%;
   text-align: center;
   color: #000000;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
   z-index: 1;
}

.arrow-left-line {
   position: absolute;
   left: 0rem;
   top: 1rem;
}

.reset-your-password {
   /* Version 2/t1 */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 61px;
   line-height: 120%;
   /* or 73px */
   height: 6rem;
   margin-top: 1rem;
   text-align: center;
   margin-left: 3rem;
   margin-right: 3rem;

   color: #000000;

}

.mb-2-5rem {
   margin-bottom: 2.5rem
}

.overflow-hidden {
   overflow: hidden;
}

.confirmationOfResetPasswordProcess {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;

   z-index: 20;
   background-color: rgba(42, 54, 71, 0.4);
   animation: showResetPwInfo 2s;
}

@keyframes showResetPwInfo {
   0% {
      background-color: rgba(42, 54, 71, 0);

   }

   100% {
      background-color: rgba(42, 54, 71, 0.4);

   }
}

.frame73 {
   position: absolute;
   bottom: 45%;
   animation: frame73 1s;

}


@keyframes frame73 {
   0% {
      bottom: -100%;


   }

   100% {
      bottom: 45%;

   }
}

.sign-up-side {
   /* Version 2/t1 */

   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 61px;
   line-height: 120%;
   /* or 73px */
   height: 6rem;
   margin-top: 1rem;
   text-align: center;
   margin-left: 3rem;
   margin-right: 3rem;

   color: #000000;

}

.sign-up-side:after {
   content: "";
   position: absolute;
   top: 7rem;
   left: calc(50% - 150px/2);
   bottom: 0;
   height: 1px;
   width: 150px;
   /* or 100px */
   border-bottom: 3px solid #29ABE2;
}

.width-80 {
   width: 80% !important;
}


.inputfield-no-border:focus {
   outline: none;
   color: #000000;
}

.warning-info-input1 {
   height: 1.3rem;
   width: 100%;
   margin-top: 0.4rem;
   margin-bottom: 0.4rem;
   padding: 0.1rem 0rem 0.1rem 0rem;
}

.warning-info-input-hidden {


   background-color: rgba(255, 0, 0, 0.3);
   border: 1px solid #D1D1D1;
   border-radius: 8px;

}

.warning-info-input-inner-box {
   display: flex;
   justify-content: center;
   align-items: center;
}

.warning-info-input-text {
   text-align: center;
   font-size: 1rem;
   display: flex;
   align-items: center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 1.1rem;
   color: rgba(19, 19, 19, 0.8);
}

@media only screen and (max-width: 1440px) {
   .Log-in-Side {
      width: 100vw;
   }

   .capa-2 {
      width: 100vw;
   }
}

@media only screen and (max-width: 980px) {
   .frame156 {
      position: static;
      margin-top: 2rem;
   }

   .frame153 {
      position: static;
   }

   .Log-in-Side {
      height: 100vh;
   }

   .renderContain {
      position: absolute;
      top: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
   }

}

@media only screen and (max-width: 780px) {
   .Log-in-Side {
      height: 100vh;
   }



   .frame153 {
      position: static;
      top: 15%;
      min-width: 0px;
      width: 480px;
   }



   @keyframes transition-capa-2 {
      0% {
         background-color: rgba(246, 247, 248, 1);
         z-index: 50;
         height: 100vh;
      }



      100% {
         background-color: rgba(246, 247, 248, 0);
         z-index: 0;
         height: 20vh;
      }
   }

   .capa-1 {
      z-index: 50;
   }


   @keyframes transition-capa-1 {
      0% {
         left: 40.5%;
         top: 33.7%;
         width: 19%;
         height: 32.5%;
         z-index: 50;
      }


      100% {
         left: 5.35%;
         top: 5vh;
         width: 6.25rem;
         height: 7.625rem;
         z-index: 0;
      }
   }
}

@media only screen and (max-width: 530px) {
   .frame153 {
      width: 380px;
   }

   .Log-in-v1 {
      width: 360px;
   }

   .frame157 {
      width: auto;
   }

   .frame176 {
      justify-content: center;
   }

}


@media only screen and (max-width: 400px) {
   .frame153 {
      width: 300px;
   }

   .Log-in-v1 {
      width: 280px;
   }

   .frame157 {
      width: 240px;
      padding-right: 8px;
   }

   .frame158 {
      width: 280px;
      height: auto;
      align-items: center;
   }

   .frame37 {
      display: flex;
      flex-direction: column;
      height: auto;
   }

   .rectangle6 {
      width: 100%;
      justify-content: center;
   }

   .forgotMyPassword {
      width: 100%;
      text-align: center;
   }

   .btn-guest-log-in {
      padding: 4px;
      width: 40%;
      overflow-wrap: break-word;
   }

   .btn-log-in {
      padding: 4px;
      width: 40%;

   }

   .text-guest-log-in {
      overflow-wrap: break-word;
      text-align: center;
      font-size: 1rem;
      height: auto;
      margin: 4px;
   }

   .text-log-in {
      font-size: 1rem;
   }

   .width-auto {
      max-width: 280px !important;

   }


}

@media only screen and (max-width: 360px) {
   .frame153 {
      width: 90vw;
   }

   .Log-in-v1 {
      width: 280px;
   }

   .frame157 {
      width: 240px;
      padding-right: 8px;
   }

   .frame158 {
      width: 280px;
      height: auto;
      align-items: center;
   }

   .frame37 {
      display: flex;
      flex-direction: column;
      height: auto;
   }

   .rectangle6 {
      width: 100%;
      justify-content: center;
   }

   .forgotMyPassword {
      width: 100%;
      text-align: center;
   }

   .btn-guest-log-in {
      padding: 4px;
      width: 40%;
      overflow-wrap: break-word;
   }

   .btn-log-in {
      padding: 4px;
      width: 40%;

   }

   .text-guest-log-in {
      overflow-wrap: break-word;
      text-align: center;
      font-size: 1rem;
      height: auto;
      margin: 4px;
   }

   .text-log-in {
      font-size: 1rem;
   }

   .frame156 {
      display: flex;
      flex-direction: column;
   }

}

@media only screen and (max-height: 840px) {
   .capa-2 {
      display: none;
   }

   .Log-in-Side {

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
   }

   .renderContain {
      top: 5vh;
   }

   .frame153 {
      top: 5vh;
   }

   .reset-your-password {
      height: 5rem;
   }

}

@media only screen and (max-width: 640px) {

   .Log-in,
   .sign-up-side {
      font-size: 3rem
   }

   .sign-up-side:after .sign-up-side:after {
      top: 5rem
   }

   .iForgotMyPassword {
      font-size: 2rem;
   }

}

@media only screen and (max-width: 400px) {

   .Log-in,
   .sign-up-side {
      font-size: 2rem
   }


   .iForgotMyPassword:after,
   .Log-in:after,
   .sign-up-side:after {
      top: 3.5rem;
      width: 75px;
      left: calc(50% - 75px/2);
   }

}

@media only screen and (max-height: 570px) {
   .frame153 {
      gap: 0px;
   }

   .sign-up-side {
      height: 3.5rem;
   }

   .renderContain {
      top: 2vh;
      margin-left: 0;
      margin-right: 0;
      padding: 8px;
   }

   body {
      overflow: hidden !important;
   }
}

@media only screen and (max-width: 860px) {
   .frame153Forgotten {
      position: static;
      top: 15%;
      min-width: 0px;
   }
}

@media only screen and (max-width: 780px) {

   .iForgotMyPassword,
   .reset-your-password {
      font-size: 2.5rem;
   }
}

@media only screen and (max-width: 400px) {

   .iForgotMyPassword,
   .reset-your-password {
      font-size: 1.6rem;
   }

   .iForgotMyPassword:after {
      top: 5rem;
   }

   .forgotten-btn {
      width: 100%;
   }
}

@media only screen and (max-height: 620px) {
   .forgotten-Log-in-v1 {
      margin-top: 1.5rem;
   }

   .frame176-resetPW {
      margin-top: 0 !important;
      margin-bottom: -1rem;
   }

   .reset-your-password {
      margin-top: 0;
   }


}