<header id="headerAllSide" class="headerAllSide">
    <div class="headerDiv">
        <img src="assets/img/logo_dark.png" class="headerLogo">
        <span id="KanbanSpan" class="cursor-default">Kanban Project Management Tool</span>
    </div>
    <div class="headerSubDiv">
        <img class="cursor-pointer" id="questionmark" onclick="help()" src="assets/img/questionmark.png">
        <div onclick="showLogout()" class="headerAccDiv cursor-pointer">
           
            <img class="headerAccImg" src="assets/img/example_acc_img.png">
        </div>
        <img id="landingpageLogout" onclick="logOutGuest()" class="logoutImg d-none cursor-pointer"
            src="assets/img/logout_img.png">
    </div>
</header>