<nav id="navBarAllSide" class="navbarMain">
    <img class="navbarLogo" src="assets/img/logo_white.png">
    <div class="mainMenu">
        <div class="navbarMenu">
            <div class="navbarItem cursor-pointer bg-dark" id="summary" onclick="select('summary')">
                <img class="navbarImg" src="assets/img/summary_icon.png">
                <div>Summary</div>
            </div>
            <div class="navbarItem cursor-pointer" id="board" onclick="select('board')">
                <img class="navbarImg" src="assets/img/board_icon.png">
                <div>Board</div>
            </div>
            <div class="navbarItem cursor-pointer" id="addTask" onclick="select('addTask')">
                <img class="navbarImg" src="assets/img/add_task_icon.png">
                <div>Add Task</div>
            </div>
            <div class="navbarItem cursor-pointer" id="contacts" onclick="select('contacts')">
                <img class="navbarImg" src="assets/img/contacts_icon.png">
                <div>Contacts</div>
            </div>
        </div>
        <div class="navbarMenu" id="navbarMenu2">
            <div class="navbarItem cursor-pointer" onclick="select('legalNotice')" id="legalNotice">
                    <img class="navbarImg" src="assets/img/legal_notice_icon.png">
                    <div>Legal notice</div>
            </div>
            <div class="navbarItem cursor-pointer" onclick="select('privacy')" id="privacy">
                    <img class="navbarImg" src="assets/img/legal_notice_icon.png">
                    <div>Privacy</div>
            </div>
        </div>
    </div>
</nav>